RAILS_ENV=development
DB_NAME=chiquito_development
DB_USERNAME=chiquito
DB_PASSWORD=Ch1qu1t0!
DB_HOST=chiquito_postgres_1
DB_PORT=5432
MAX_TOP_RECORDS=100
TITLE_URL_TIMEOUT=5
SIDEKIQ_URL=redis://chiquito_redis_1:6379/0
LINK_TIMEOUT=5
VALIDATE_BROKEN_LINKS=true
